<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" *ngIf="getToken()">
      <a href="#" class="navbar-brand">Welcome, {{ getDispUsername() }}!</a>
    </div>

    <ul class="pull-right" style="text-align: end">
      <ul>
        Time:
        {{
          now | date: "HH:mm"
        }}
      </ul>
      <ul *ngIf="!getToken()">
        <a routerLink="/signin">Login</a>
      </ul>
      <ul routerLinkActive="active" *ngIf="getToken()">
        <a style="cursor: pointer" (click)="clearLocalDb()" routerLink="/signin"
          >Logout</a
        >
      </ul>
    </ul>
  </div>
</nav>
