<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <h3>Change Password</h3>
    <form #authForm="ngForm">
      <div class="form-group">
        <label for="currentpassword">Current password</label>
        <input
          type="password"
          id="currentpassword"
          class="form-control"
          ngModel
          name="currentpassword"
          required
          minlength="6"
          placeholder="Please enter your Current password"
        />
      </div>
      <div class="form-group">
        <label for="newpassword">New password</label>
        <input
          type="password"
          id="newpassword"
          class="form-control"
          ngModel
          name="newpassword"
          required
          minlength="6"
          placeholder="Please enter your New password"
        />
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirm New password</label>
        <input
          type="password"
          id="confirmpassword"
          class="form-control"
          ngModel
          name="confirmpassword"
          required
          minlength="6"
          placeholder="Please confirm your New password"
        />
      </div>
      <p>
        {{confirmPassword ? getChangeMessage() : 'New password and Confirm New password are not same.'}}
      </p>
      <div>
        <button
          class="btn btn-primary pull-right"
          type="submit"
          [disabled]="!authForm.valid"
          (click)="onChange(authForm)"
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
