<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <h3>Reset Password</h3>
    <form #authForm="ngForm">
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          placeholder="Username"
        />
      </div>
      <div>
        <button
          class="btn btn-primary pull-right"
          type="submit"
          [disabled]="!authForm.valid"
          (click)="onReset(authForm)"
        >
          Reset Password
        </button>
        <a
          style="cursor: pointer"
          class="pull-left"
          routerLink="/signin"
          >Back to login</a
        >
      </div>
    </form>
    <h4>{{ getForgotMessage() }}</h4>
  </div>
</div>
